body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-image: url('images/background.png');
  background-size: cover;       
  background-position: center;   
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  color: white;
}

.mainHeader {
  text-align: center;
  font-size: 40px;
  position: fixed;
  top: 0; left: 0; width: 100%;
  z-index: 1000;
  background-color: #0a2138;
  color: lightblue
}

.navigator {
  margin-top: 60px;
  margin-bottom: 50px;
  text-align: center; 
}

.navigator div{
    display: inline-block;
}
.navigator .item1 a,
.navigator .item2 a,
.navigator .item3 a,
.navigator .item4 a {
  text-decoration: none;
  color: white;
  margin: 0 40px;
  font-size: 20px;

}

.navigator .item1 a:hover,
.navigator .item2 a:hover,
.navigator .item3 a:hover,
.navigator .item4 a:hover{
    color: blue;
}

.introductionHeader{
  font-size: 40px;
  margin-bottom: 90px;
  text-align: center;
}

.introduction{
  text-align: center;
  
  list-style-position: inside;
}




